:root{
  --main-page-clr: #FFFCF2;
  --secondary-page-clr: #252422;
  --dark-page-clr: #1d1d1d;
  --text-clr: #403D39;
  --secondary-text-clr: #ffff;
  --btn-clr: #EB5E28;
  --hover-clr-main: #EB5E28;
  --btn-hover-clr-main: #ffff;
  --error-clr: #e74c3c;
  --error-background-clr: #fae6e6;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode{
  background-color: var(--dark-page-clr);
  transition: all 0.3s ease-in;
  color: var(--secondary-text-clr);
}

body{
  background-color: var(--main-page-clr);
  transition: all 0.3s ease-in;
  color: var(--text-clr);
  font-family: 'Calistoga', cursive;
}

li, a, button{
  text-decoration: none;
  color: var(--secondary-text-clr);
}

.header{
  position: fixed;
  width: 100%;
  background-color: var(--secondary-page-clr);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  padding: 1rem;
  z-index: 1000;
}

.nav-container{
  display: flex;  
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.nav-title{
  font-size: 1.5rem;
  margin-right: auto;
}

.nav-items{
  list-style: none;
}

.nav-items li{
  display: inline-block;
  padding: 0 10px;
}

.nav-items li a{
  transition: all 0.3s ease-in;
}

.nav-items li a:hover{
  color: var(--hover-clr-main);
}

.donation-btn button{
  margin-left: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: 'Calistoga', cursive;
  background-color: var(--btn-clr);
  transition: all 0.3s ease-in;
}

.donation-btn button:hover{
  background-color: var(--btn-hover-clr-main);
  color: var(--hover-clr-main);
}

#dark-mode-btn{
  margin-left: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;  
  cursor: pointer;
  font-family: 'Calistoga', cursive;
  background-color: var(--text-clr);
  color: var(--secondary-text-clr);
  transition: all 0.3s ease-in;
}

#dark-mode-btn:hover{
  background-color: var(--btn-hover-clr-main);
  color: var(--secondary-page-clr);
}

.nav-icons{
  font-size: 2rem;
  color: var(--secondary-text-clr);
  cursor: pointer;
  display: none;
}

.hero{
  position: relative;
  padding: 23rem 0 20rem 0;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
  background-image:
    url(https://images.unsplash.com/photo-1535025075092-5a1cf795130b?q=80&w=3008&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  box-shadow: 0 0px 8px 5px rgba(0,0,0,.2);
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.dark-mode-background{
  opacity: 0.4;
}

.heading{
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.heading h1{
  font-size: 3rem;
  padding: 0.5rem;
}

.heading p{
  font-size: 14px;
  padding: 1rem;
  line-height: 1rem;
}

#about-us{
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 0;
}

#about-us h1{
  font-size: 3rem;
}

.row{
  display: flex;
}

.first-section{
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto 10rem auto;
  padding: 0 2rem 0 2rem;
}

.first-section p{
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}

.first-img{
  float: right;
  margin-left: 3rem;
  border-radius: 10px;
  width: 55%;
  height: 100%;
  box-shadow: 0 0px 8px 5px rgba(0,0,0,.2);
}

.second-section{
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto 10rem auto;
  padding: 0 2rem 0 2rem;
}

.second-section p{
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}

.second-img{
  float: left;
  margin-right: 3rem;
  border-radius: 10px;
  width: 55%;
  height: 100%;
  box-shadow: 0 0px 8px 5px rgba(0,0,0,.2);
}

#articles{
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
}

#articles h1{
  font-size: 3rem;
}

#articles p{
  margin-bottom: 3rem;
}

.article-container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 10rem auto;
  grid-gap: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, auto);
  padding: 0 2rem 0 2rem;
}

.article-card {
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
  border-radius: 10px;
  height: 350px;
  box-shadow: 0 0px 8px 5px rgba(0,0,0,.2);
}

.article-card:hover{
  transform: scale(1.1);
  opacity: 0.8;
}

.article-card img {
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.article-info {
  width: 100%;
  height: 100%;
  top: 0;
  height: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--secondary-text-clr);
  padding: 1rem;
  margin-top: 1rem;
  }

.article-info h1 {
  font-size: 2rem
}

#petition-start{
  padding: 5rem;
}

#petition-container{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 10rem auto;
  padding: 2rem;
  background-color: var(--secondary-page-clr);
  color: var(--secondary-text-clr);
  border-radius: 10px;
  box-shadow: 0 0px 8px 5px rgba(0,0,0,.2);
}

#petition-container-left{
  width: 65%;
}

#signatures{
  width: 35%;
  margin: 2rem 0 2rem 0;
  text-align: center;
}

#signatures p{
  padding: 0.5rem 0 0.5rem 0;
  font-size: 0.80rem;
}

#petition-container-left h1{
  margin-bottom: 2rem;
}

#petition-container-left p{
  margin-bottom: 5rem;
}

label{
  margin-right: 6px;
}

.inputField {
  padding: 4px;
  border: none;
  border-radius: 5px;
  margin-right: 12px;
  font-family: 'Calistoga', cursive;
}

.error{
  border-style: solid;
  border-width: 2px;
  border-color: var(--error-clr);
  background-color: var(--error-background-clr);
}

#sign-btn{
  margin-top: 2rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: 'Calistoga', cursive;
  background-color: var(--btn-clr);
  transition: all 0.3s ease-in;
}

#sign-btn:hover{
  background-color: var(--btn-hover-clr-main);
  color: var(--hover-clr-main);
}

/* the modal that covers the background and prevents user interactions */
.modal {
  display: none; /* hides the modal from view by default*/
  position: fixed; /* keeps the modal in one place */
  z-index: 2; /* positions the modal on top of all other elements on the screen */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
  flex-direction: column; /* these flexbox rules center the content on the screen */
  align-items: center;
  justify-content: center;
}

/* box that contains all the content and images */
.modal-content {
  background-color: var(--dark-page-clr); /* update the colors and font sizes as you like */
  color: var(--secondary-text-clr);
  text-align: center;
  font-size: 1.5rem;
  display: flex; /* adds flexbox to center all items */
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0px 8px 5px rgba(0,0,0,.2);
}

.modal-content img{
  width: 300px;
  height: 300px;
  border-radius: 6px;
  box-shadow: 0 0px 8px 5px rgba(0,0,0,.2);
}

#thanks-modal-content {
  width: 20rem; /* sets a default width for the text container */
}

#modal-text-container {
  display: flex; /* adds flexbox to center the text and buttons (stretch feature) */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

#close-modal{
  margin-top: 1rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: 'Calistoga', cursive;
  background-color: var(--btn-clr);
  transition: all 0.3s ease-in;
}

#close-modal:hover{
  background-color: var(--btn-hover-clr-main);
  color: var(--hover-clr-main);
}

footer{
  width: 100%;
  background-color: var(--secondary-page-clr);
  padding: 10rem;
  box-shadow: 0 0px 8px 5px rgba(0,0,0,.2);
}

.footer-items{
  text-align: left;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: var(--secondary-text-clr);
}

.icons{
  margin: 2rem auto;
  font-size: 4rem;
}

.revealable{
  opacity: 0;
  transform: translateX(-100%);
  transition: all 2s ease;
}

.active{
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1352px) {
  
  .heading h1{
    font-size: 2rem;
  }
  
  .heading p{
    font-size: 12px;
  }

  #about-us h1{
    font-size: 2rem;
  }

  .first-section p{
    font-size: 1rem;
  }

  .second-section p{
    font-size: 1rem;
  }

  #articles h1{
    font-size: 2rem;
  }
  
  #articles p{
    font-size: 12px;
  }

  .article-info h1 {
    font-size: 1.5rem
  }

  #petition-container-left h1{
    font-size: 2rem;
  }

  #petition-container-left p{
    font-size: 1rem;
  }
  
  label{
    font-size: 0.75rem;
  }

  .inputField {
    padding: 4px;
    margin-right: 6px;
    font-size: 0.5rem;
  }

  #signatures p{
    font-size: 0.75rem;
  }

}

@media (max-width: 992px) {
  .nav-container .nav-items,
  .nav-container #dark-mode-btn,
  .nav-container .donation-btn{

    display: none;

  }
  
  .nav-icons #menu-icon{
    display: block;
  }

  #close-icon{
    display: none;
  }

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

}